/* Gift page styles */

main {
    background-color: var(--primary);
    border-radius: 20px;
    overflow: hidden;
}

.gift-section {
    color: var(--static-white);
    border-radius: 20px;
    background-image: url('./assets/bg-garland.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    padding: 60px 8px;
}

.gift-cards-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}


.gift-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gift-text-container {
    display: flex;
    flex-direction: column;
    max-width: 426px;
    align-items: center;
    text-align: center;
}

.gift-text-container>h1 {
    margin: 0;
}

.gift-tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tabs {
    border-radius: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs .active {
    background-color: var(--static-white20);
    border-radius: 12px;
    transition: opacity 0.3s ease;
}

.tabs:first-child>.action-small {
    color: var(--static-white);
}

.tabs:hover {
    background-color: var(--static-white20);
}

.tabs>.action-small {
    padding: 12px 20px;
    cursor: pointer;
}


.scroll-top {
    display: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .scroll-top {
        display: flex;
        background-color: var(--static-white);
        border: 1px solid var(--Primary, #FF4646);
        border-radius: 100px;
        width: 56px;
        height: 56px;
        position: fixed;
        right: 8px;
        bottom: 8px;
        cursor: pointer;
    }

    .scroll-top_hide {
        display: none;
    }
}

.scroll-top_hide {
    display: none;
}

@media (max-width: 400px) {
    .gift-tabs {
        gap: 0;
    }

    .tabs>.action-small {
        padding: 12px 8px;
    }
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--Overlay, #181C29CC);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.modal-content {
    background-color: var(--content-background);
    color: var(--dark);
    border-radius: 20px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.close {
    color: var(--dark);
    float: right;
    font-size: 55px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

#description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0%;
    color: var(--dark);
    padding: 0;
}

#modal-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.stars {
    display: flex;
    align-items: center;
    gap: 8px;
}

#modal-card-container {
    padding-left: 20px;
    padding-top: 20px;
    gap: 8px;
}

#superpowers {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#superpowers>p {
    margin: 0;
    padding-bottom: 8px;
}

#category,
#modal-name {
    padding: 0;
}

.superpower-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.superpower-data {
    display: flex;
    align-items: center;
    gap: 12px;
}

.superpower-data>span {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0%;
}

.stars-wrapper {
    display: flex;
    gap: 8px;
    padding-right: 20px;
}

.superpower-name {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0%;
}