/* Gift page styles */

main {
    background-color: var(--primary);
    border-radius: 20px;
    overflow: hidden;
}

.gift-section {
    color: var(--static-white);
    border-radius: 20px;
    background-image: url('./assets/bg-garland.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    padding: 60px 8px;
}

.gift-cards-container {
    display: flex;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 75px;
}


.gift-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gift-text-container {
    display: flex;
    flex-direction: column;
    max-width: 426px;
    align-items: center;
    text-align: center;
}

.gift-text-container>h1 {
    margin: 0;
}

.gift-tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tabs {
    border-radius: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs:first-child {
    background-color: var(--static-white20)
}

.tabs:first-child>.action-small {
    color: var(--static-white);
}

.tabs:hover {
    background-color: var(--static-white20);
}

.tabs>.action-small {
    padding: 12px 20px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .gift-cards-container {
        padding-left: 60px;
    }
}

@media (max-width: 400px) {
    .gift-tabs {
        gap: 0;
    }

    .tabs>.action-small {
        padding: 12px 8px;
    }

    .gift-cards-container {
        padding-left: 27px;
    }
}