/* Gift page styles */

main {
    background-color: var(--primary);
    border-radius: 20px;
    overflow: hidden;
}

.gift-section {
    color: var(--static-white);
    border-radius: 20px;
    background-image: url('./assets/bg-garland.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    padding: 60px 8px;
}

.gift-cards-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}


.gift-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gift-text-container {
    display: flex;
    flex-direction: column;
    max-width: 426px;
    align-items: center;
    text-align: center;
}

.gift-text-container>h1 {
    margin: 0;
}

.gift-tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tabs {
    border-radius: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:first-child>.action-small {
        color: var(--static-white);
    }

    &:hover {
        background-color: var(--static-white20);
    }

    &>.action-small {
        padding: 12px 20px;
        cursor: pointer;
    }

    .active {
        background-color: var(--static-white20);
        border-radius: 12px;
        transition: opacity 0.3s ease;
    }


}


.scroll-top {
    display: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .scroll-top {
        display: flex;
        background-color: var(--static-white);
        border: 1px solid var(--Primary, #FF4646);
        border-radius: 100px;
        width: 56px;
        height: 56px;
        position: fixed;
        right: 8px;
        bottom: 8px;
        cursor: pointer;
    }

    .scroll-top_hide {
        display: none;
    }
}

.scroll-top_hide {
    display: none;
}

@media (max-width: 400px) {
    .gift-tabs {
        gap: 0;
    }

    .tabs>.action-small {
        padding: 12px 8px;
    }
}