/* Gift page styles */

main {
    background-color: var(--primary);
    border-radius: 20px;
    overflow: hidden;
}

.gift-section {
    color: var(--static-white);
    border-radius: 20px;
    position: relative;
}

.gift-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 0 82px 60px;
}

.bg-garland {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
}

.gift-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 20px;
}

.gift-text-container {
    display: flex;
    flex-direction: column;
    max-width: 426px;
    align-items: center;
    text-align: center;
}

.gift-tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 20px;
}

.tabs {
    border-radius: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs:first-child {
    background-color: var(--static-white20)
}

.tabs:first-child>.action-small {
    color: var(--static-white);
}

.tabs:hover {
    background-color: var(--static-white20);
}

.tabs>.action-small {
    padding: 12px 20px;
    cursor: pointer;
}