/* Main styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

:root {
  --primary: #FF4646;
  --primary10: #FF46461A;
  --dark: #181C29;
  --static-white: #FFFFFF;
  --static-white40: #FFFFFF66;
  --static-white20: #FFFFFF33;
  --tag-purple: #4361FF;
  --tag-pink: #FF43F7;
  --tag-green: #06A44F;
  --content-background: #ECF3F8;
  --overlay: #181C29CC;
  --main-font: 'Montserrat';
  --side-font: 'Allura';
}


h1 {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 18%;
  text-transform: uppercase;
}

h2 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
}

h3 {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 8%;
  text-transform: uppercase;
}

h4 {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
}

p {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  /*paragraph*/
}

.action-large {
  /*text action large*/
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
}

.action-small {
  /*text action small*/
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-decoration: none;
}

.caption {
  font-family: var(--side-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
}

.slider-text {
  font-family: var(--main-font);
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.main {
  background-color: var(--primary);
}

body {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

header {
  height: 64px;
}

.header-container {
  height: 100%;
  margin-left: 82px;
  margin-right: 82px;
  gap: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  color: var(--dark);
}

.logo {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.logo>p {
  margin-right: 20px;
}

.snowflake {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 8px;
}

.items-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  color: var(--dark);
}

.item {
  height: 40px;
  border-radius: 12px;
  padding: 24px 20px;
}

.desktop-only {
  display: none;
}

.footer-container {
  margin: 60px 82px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  cursor: pointer;
}

.footer-cards {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-radius: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-santa,
.footer-tree,
.footer-snake {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background-color: var(--content-background);
}

.santa-card,
.christmas-tree,
.snake-card {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 168.67px;
  margin-right: 168.67px;
}

.action-large {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-header {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  justify-content: center;
}

.footer-santa:hover,
.footer-tree:hover,
.footer-snake:hover {
  background: #06A44F1A;
}

.socials-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.social-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social-card:hover {
  background: #06A44F1A;
}


.social-card>img {
  width: 24px;
  height: 24px;
  align-self: center;
}

.footer-p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-p:hover {
  color: var(--primary);
}

.copyright:hover {
  cursor: auto;
  color: var(--dark);
}